/* header */

.header{
    background-color: #AA0601;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 12px;
        .logo{
            padding: 16px 0px;
            a{
                width: 80px;
                height: 48.57px;
                display: block;
                background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                text-indent: 101%;
                white-space: nowrap;
                overflow: hidden;  
            }
        }
        .header-list{
            ul{
                display: flex;
                li{
                    margin-left: 64px;
                    &:first-child{
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 769px){
   .container{
        flex-direction: column;
        align-items: start;
        // 設了align-item，logo還在中間?
        .header-list{
            ul{
                flex-wrap: wrap;
                li{
                    width: 50%;
                    text-align: center;
                    border: 1px solid white;
                    padding: 12px 0px;
                    margin-left: 0px;
                    // 為什麼我這邊margin-left:0px了，卻沒有反應
                }
            }          
        }
    }
}

// 另外我container已經設定padding:12px了，手機版的ul要怎麼讓它沒有padding


.footer{
    background-color: #AA0601;
    .container{
        padding: 0px 12px;
    }
    .list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0px;;
        ul{
            display: flex;
            li{
                margin-right: 48px;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
        img{
            width: 48px;
            margin-left: 32px;
            &:first-child{
                margin-left: 0px;
            }
        }
    }
}

.contact{
    margin-bottom: 32px;
    .phone,.e-mail{
        display: flex;
        align-items: center;
        color: white;
        font-size: 36px;
        font-family: 'Noto Sans TC';
        margin-bottom: 28px;
        span{
            font-size: 48px;
            margin-right: 16px;
        }
    }
}

@media (max-width: 769px){
    .list{
        .footer-list{
            display: none;
        }
        img{
            width: 24px;
            margin-left: 8px;
        }
    }
    .contact{
        .phone,.e-mail{
            font-size: 16px;
            margin-bottom: 8px;
            span{
                font-size: 24px;
                margin-right: 12px;
            }
        }
    }
}

// 不知道要怎麼讓清單不見，然後聯絡方式移上去

.copy-right{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 32px 0px;
    ul{
        display: flex;
        li{
            margin-left: 48px;
            font-size: 14px;
            &:first-child{
                margin-left: 0px;
            }
        }
    }
}

@media (max-width: 769px){
    .copy-right{
        flex-direction: column;
        padding: 24px 0px;
        p{
            margin-bottom: 8px;
        }
        ul{
            flex-direction: column;
            li{
                margin-left: 0px;
                font-size: 16px;
                margin-bottom: 8px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
}