@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400&family=Roboto&display=swap');
@import './reset.scss';
@import './mixin.scss';
@import './base.scss';
@import './index.scss';